<div class="">
  <section id="slides">
           <ul class="">
              <li>
                 <img src="http://s30.postimg.org/at2av1c67/wall3.jpg" alt="">
              </li>
           </ul>
           <div id="bannertext">
             <div class="first-forms">
               <h1>Log In</h1>
               <br>
               <%= form_tag sessions_path, method: :post do %>
                 <div class="form-group">
                   <%= label_tag :email %>
                   <%= email_field_tag :email, nil, class: 'form-control', required: true %>
                 </div>

                 <div class="form-group">
                   <%= label_tag :password %>
                   <%= password_field_tag :password, nil, class: 'form-control', required: true %>
                 </div>

                 <%= submit_tag 'Log In', class: 'btn btn-info btn-lg' %>
               <% end %>
             </div>

           </div>
  </section>
</div>




<!--
<div class="jumbotron fornew">
  <div class="container1">

    <br><br><br>
    <h1>Log In</h1>
    <%= form_tag sessions_path, method: :post do %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, class: 'form-control', required: true %>
      </div>

      <%= submit_tag 'Log In', class: 'btn btn-info btn-lg' %>
    <% end %>


  </div>
</div> -->
