
<!-- <div class="container giant">
  <div class="large-header">
    <div id="bannertext">
       <h1>HYPE Fest</h1>
       <hr class="aligncenter">
       <h3>For all your music festival needs</h3>
       <p><button class="btn btn-lg btn-white btn-design"><a href="<%= sign_up_path %>" class="sign">Sign Up</button></a><button class="btn btn-lg btn-clear btn-design"><a href="<%=log_in_path%>">Log In</a></button></p>
       <h3><a href="<%= festivals_path %>">..or continue as a guest</a></h3>
    </div>
  </div>
</div> -->




<div class="giant">
  <section id="slides" class="large-header">
           <ul class="">
              <li>
                <img src="<%= asset_path( 'wall3.jpg' ) %>" alt="" />
              </li>
           </ul>
           <div id="bannertext">
              <h1>HYPE Fest</h1>
              <hr class="aligncenter">
              <h3>For all your music festival needs</h3>
              <p><button class="btn btn-lg btn-white btn-design"><a href="<%= sign_up_path %>" class="sign">Sign Up</a></button><button class="btn btn-lg btn-clear btn-design"><a href="<%=log_in_path%>">Log In</a></button></p>
              <h3><a href="<%= festivals_path %>">..or continue as a guest</a></h3>
           </div>

           <!-- end:Banner text -->

           <!-- <nav class="slides-navigation">
              <a href="index.html#" class="next">
              <i class="ion-ios-arrow-forward"></i>
              </a>
              <a href="index.html#" class="prev">
              <i class="ion-ios-arrow-back"></i>
              </a>
           </nav> -->
  </section>
</div>




<!--
<script>
// Banner text add parallax efect and fade
function EasyPeasyParallax() {
  scrollPos = $(this).scrollTop();
  $('#slider').css({
      'background-position': '50% ' + (-scrollPos / 4) + "px"
  });
  $('#bannertext').css({
      'margin-top': (scrollPos / 4) + "px",
      'opacity': 1 - (scrollPos / 250)
  });
}
$(document).ready(function () {
  $(window).scroll(function () {
      EasyPeasyParallax();
  });
});
</script> -->
