<div class="">
  <section id="slides">
           <ul class="">
              <li>
                <img src="<%= asset_path( 'wall2.jpg' ) %>" alt="" />
              </li>
           </ul>
           <div id="bannertext">
             <div class="first-forms">
               <h1>Sign Up!</h1>

             		<%= form_for @user do |f| %>
             			<% if @user.errors.full_messages.any? %>
             				<% @user.errors.full_messages.each do |error_message| %>
             					<%= error_message %> <br />
             				<% end %>
           			<% end %>

           		  <div class="form-group">
           		    <%= f.label :name %>
           		    <%= f.text_field :name, class: 'form-control', required: true %>
           		  </div>

           			 <div class="form-group">
           			   <%= f.label :email %>
           			   <%= f.email_field :email, class: 'form-control', required: true %>
           			 </div>
           			 <div class="form-group">
           			   <%= f.label :password %>
           			   <%= f.password_field :password, class: 'form-control', required: true %>
           			 </div>
           			 <div class="form-group">
           			   <%= f.label :password_confirmation %>
           			   <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
           			 </div>
           			 <%= f.submit 'Submit', class: 'btn btn-info btn-lg' %>
           		<% end %>
             </div>

           </div>
  </section>
</div>



<!--

<div class="jumbotron fornew">
  <div class="container1">

		<br><br><br>

		<h1>Sign Up!</h1>

		<%= form_for @user do |f| %>
			<% if @user.errors.full_messages.any? %>
				<% @user.errors.full_messages.each do |error_message| %>
					<%= error_message %> <br />
				<% end %>
			<% end %>

		  <div class="form-group">
		    <%= f.label :name %>
		    <%= f.text_field :name, class: 'form-control', required: true %>
		  </div>

			 <div class="form-group">
			   <%= f.label :email %>
			   <%= f.email_field :email, class: 'form-control', required: true %>
			 </div>
			 <div class="form-group">
			   <%= f.label :password %>
			   <%= f.password_field :password, class: 'form-control', required: true %>
			 </div>
			 <div class="form-group">
			   <%= f.label :password_confirmation %>
			   <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
			 </div>
			 <%= f.submit 'Submit', class: 'btn btn-info btn-lg' %>
		<% end %>

	</div>
<div> -->
