


<div class="jumbotron1" style="background-image: url('<%= @festival.pic %>');">
  <div class="container2">
    <!-- <br><br><br><br><br><br><br><br><br><br> -->
    <h1 class ="contain"><%= @festival.event %></h1>
    <h2 class = "contain"><%= @festival.date %></h2>
    <h2 class = "contain"><%= @festival.address %></h2>
  </div>

  <div class = "for_form">
    <div class="form">
      <br><br>
      <%= render 'form' %>
    </div>

    <div class="fb-share-button" data-href="https://murmuring-gorge-7908.herokuapp.com/festivals/<%=@festival.id%>" data-layout="button_count"></div>

    <br><br>

    <div id="map_canvas" style="width:300px; height:300px;"></div>

    <br><br>

    <iframe width="50%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/7277527&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

    <br><br><br>

  </div>



</div>



<script type="text/javascript">
  var actualaddress= "<%= @festival.address %>"
  initializeFestMap();
</script>
