
<div class="jumbotron1" style="background-image: url('<%= @festival.pic %>');">
  <div class="container2">
    <h1 class ="contain"><%= @festival.event %></h1>
    <h2 class = "contain"><%= @festival.date %></h2>
    <h2 class = "contain"><%= @festival.address %></h2>

    <p></p>
  </div>
</div>

<div class="form">
  <%= render 'form' %>
</div>


<div class="fb-share-button" data-href="https://murmuring-gorge-7908.herokuapp.com/festivals/<%=@festival.id%>" data-layout="button_count"></div>
